/hearthstone/venv
*.egg-info/
/build
/dist
/.idea
/.tox
**/__pycache__/
index.txt
venv/*
/data/learning/pytorch/tensorboard/*
/data/learning/pytorch/saved_models/*
/benchmarks/profiles/*
*~
/rust/pyrite_hearth_battles/target/*